#convert-img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#add-exchanged-currency {
    margin: 20px 0 0;
}

.currency-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px 4px 0 0;
    padding: 8px;
}

#currency-exchanging-form {
    max-width: 584px;
}

#exchanged-currency-formset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input.delete-exchanged-currency-btn {
    display: block;
    background: var(--delete-button-bg);
    border-radius: 4px;
    padding: 0.625rem 0.9375rem;
    margin-left: auto;
    color: var(--button-fg);
}

input.delete-exchanged-currency-btn:focus,
input.delete-exchanged-currency-btn:hover,
input.delete-exchanged-currency-btn:active {
    background: var(--delete-button-hover-bg);
    text-decoration: none;
}

